<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Content-based Image Retrieval</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='node_modules/bootstrap/dist/css/bootstrap-theme.min.css') }}"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>

<body>


    <!-- messages -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            {{ message }}
        </div>
    {% endfor %}

    <!-- child template -->
    {% block content %}{% endblock %}


    <!-- errors -->
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}



<!-- Scripts -->
<script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>